<html lang="ja">
  <div class="tan">
    <div class="yousomatome">
      <div class="sinndanntaitoru">
        <h1>おすすめアニメ診断</h1>
      </div>
      <div class="setumei">
        <p>あなたの好みのアニメを紹介するために、４つの質問に答えてもらいます！</p>
      </div>
        <p>下にある「診断を始める」をクリックしよう！</p>
      <div class="sinndann">
        <p><%= link_to "診断を始める", new_perfume_path, class: "link" %></p>
      </div>
    </div>
  </div>
</html>