<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめのアニメは…</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3, @perfume.question4] %>
  <% when ["1", "1", "1", "1"] %>
    <h6>僕のヒーローアカデミア</h6>
    <p>ジャンプの代表的な戦闘アニメ</p>
    <p>主人公の成長を感じることができる</p>
  <% when ["1", "1", "1", "2"] %>
    
  <% when ["1", "1", "2", "1"] %>
    <h6>鋼の錬金術師 FULLMETAL ALCHEMIST</h6>
    <p>人の命の価値を考えさせ、見応えがとてもあるアニメ</p>
    <p>綺麗な伏線回収劇は必見！！</p>
    <h6>86-エイティーシックス</h6>
    <p>差別や迫害といった重いテーマを扱い、全体的に暗い印象のあるアニメ</p>
    <p>最終回は涙なしでは見られない程感動すること間違いなし！</p>
  <% when ["1", "1", "2", "2"] %>
    <h6>進撃の巨人</h6>
    <p>緻密な伏線回収が素晴らしいアニメ</p>
    <p>澤野弘之氏の手がける圧巻の音楽に魅了されること間違いなし！</p>
    <h6>fate/zero</h6>
    <p>正義とは何かを問い、考えさせられるダークファンタジー</p>
    <p>fateは多くのシリーズがあるが、これだけ見れば問題なし！</p>
    <p>梶浦由紀氏が担当する壮大なBGMとufotableによる神作画からなる戦闘シーンはもはや芸術！</p>
  <% when ["1", "2", "1", "1"] %>
    <h6>ジャスミン</h6>
    <p>爽やかなのに官能的な香り</p>
    <p>幸福感を得やすい</p>
  <% when ["1", "2", "1", "2"] %>
    <h6>ピーチ</h6>
    <p>フレッシュで優しい香り</p>
    <p>アンチエイジングにも最適</p>
  <% when ["1", "2", "2", "1"] %>
    <h6>アップル</h6>
    <p>特徴的で甘い香り</p>
    <p>万人受けしやすい</p>
  <% when ["1", "2", "2", "2"] %>
    <h6>ユーカリ</h6>
    <p>しっかりとした優しい香り</p>
    <p>浄化作用があり。気持ちを落ち着かせてくれる</p>
  <% when ["2", "1", "1", "1"] %>
    <h6>ローズマリー</h6>
    <p>きりりとした強めの香りが特徴的</p>
    <p>美容効果が高い</p>
    <% when ["2", "1", "1", "2"] %>
    <h6>ベルガモット</h6>
    <p>柑橘系の果実</p>
    <p>甘くてフレッシュな、万能な香料</p>
  <% when ["2", "1", "2", "1"] %>
    <h6>ムスク</h6>
    <p>雄のジャコウジカの腹部にある香嚢から抽出した香料</p>
    <p>官能的で重い香り</p>
  <% when ["2", "1", "2", "2"] %>
    <h6>アンバー</h6>
    <p>マッコウクジラの結石から抽出した香料</p>
    <p>魅惑的で色気のある香り</p>
  <% when ["2", "2", "1", "1"] %>
    <h6>シナモン</h6>
    <p>甘いスパイスの香り</p>
    <p>香水のアクセントとしてよく使われる</p>
  <% when ["2", "2", "1", "2"] %>
    <h6>バニラ</h6>
    <p>甘くて官能的な香り</p>
    <p>上品で年齢を問わず人気が高い</p>
  <% when ["2", "2", "2", "1"] %>
    <h6>イランイラン</h6>
    <p>色気のある濃厚で甘い香り</p>
    <p>恋愛に効果があり</p>
  <% when ["2", "2", "2", "2"] %>
    <h6>サンダルウッド</h6>
    <p>お香としてよく使われる白檀の香り</p>
    <p>集中力を高める効果もあり</p>
  <% end %>
</div>