<div class="intoro">
  <h5>診断結果!!!</h5>
  <p>あなたにおすすめのアニメは…</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3, @perfume.question4] %>
  <% when ["1", "1", "1", "1"] %>
    <h6>僕のヒーローアカデミア</h6>
    <p>ジャンプの代表的な戦闘アニメ</p>
    <p>無個性の主人公が最強の個性を手に入れ、最高のヒーローになるまでの物語！！</p>
  <% when ["1", "1", "1", "2"] %>
    <h6>Re:ゼロから始める異世界生活</h6>
    <p>無力な主人公が手に入れたのは、死んだら過去に戻る能力、、、</p>
    <p>何度も繰り返される死のループから抜け出し、仲間を助ける異世界ファンタジー！！！</p>
  <% when ["1", "1", "2", "1"] %>
    <h6>鋼の錬金術師 FULLMETAL ALCHEMIST</h6>
    <p>人の命の価値を考えさせ、見応えがとてもあるアニメ</p>
    <p>綺麗な伏線回収劇は必見！！</p>
    <h6>86-エイティーシックス</h6>
    <p>差別や迫害といった重いテーマを扱い、全体的に暗い印象のあるアニメ</p>
    <p>最終回は涙なしでは見られない程感動すること間違いなし！</p>
  <% when ["1", "1", "2", "2"] %>
    <h6>進撃の巨人</h6>
    <p>緻密な伏線回収が素晴らしいアニメ</p>
    <p>澤野弘之氏の手がける圧巻の音楽に魅了されること間違いなし！</p>
    <h6>fate/zero</h6>
    <p>正義とは何かを問い、考えさせられるダークファンタジー</p>
    <p>fateは多くのシリーズがあるが、これだけ見れば問題なし！</p>
    <p>梶浦由紀氏が担当する壮大なBGMとufotableによる神作画からなる戦闘シーンはもはや芸術！</p>
  <% when ["1", "2", "1", "1"] %>
    <h6>るろうに剣心</h6>
    <p>不殺(殺さず)の誓いを立てた最強剣士が、仲間と共に新時代を生き抜く熱い物語！！</p>
    
  <% when ["1", "2", "1", "2"] %>
    <h6>HUNTER×HUNTER</h6>
    <p>独自の念能力と多彩なキャラクターが織りなす、予測不能な戦略バトルと深い人間ドラマが魅力の作品！！</p>
    <p>主人公ゴンの成長に目が離せない！！</p>
  <% when ["1", "2", "2", "1"] %>
    <h6>コードギアス</h6>
    <p>主人公が見せる高度な頭脳戦により、絶望的状況から逆転するといった戦闘に目が離せない！！</p>
    <p>世界を救うために主人公とその親友が取った衝撃にのラストは涙無しには見られない</p>
    <p>撃って良いのは撃たれる覚悟がある奴だけだ</p>
  <% when ["1", "2", "2", "2"] %>
    <h6>ベルセルク　黄金時代編</h6>
    <p>国を手に入れると語った、大きすぎる夢をもつ親友についていった主人公の物語</p>
    <p>親友の変わり果てた姿や、仲間たちの結末はトラウマレベルの鬱展開、、、</p>
  <% when ["2", "1", "1", "1"] %>
    <h6>ぼっち・ざ・ろっく！</h6>
    <p>孤独な少女が音楽と仲間に出会い、自身の殻を破って成長する、心温まる青春ストーリー！</p>
    <% when ["2", "1", "1", "2"] %>
    <h6>スパイファミリー</h6>
    <p>スパイ、殺し屋、超能力者が偽装家族を演じる中で生まれる、スリルと温かさが融合したコメディ</p>
  <% when ["2", "1", "2", "1"] %>
    <h6>夏目友人帳</h6>
    <p>人と妖の切ない出会いと別れを描き、美しい作画と温かい雰囲気が心に染みる癒しの物語</p>
  <% when ["2", "1", "2", "2"] %>
    <h6>ひぐらしの泣く頃に</h6>
    <p>のどかな田舎の雰囲気と仲間たちの日常が、狂気と惨劇に塗り替えられる衝撃的なミステリーホラー</p>
  <% when ["2", "2", "1", "1"] %>
    <h6>けいおん！</h6>
    <p>ゆるくて楽しい軽音部ライフと可愛いキャラクターたちの掛け合いが癒しをくれる、最高の日常系アニメ</p>
  <% when ["2", "2", "1", "2"] %>
    <h6>銀魂</h6>
    <p>ギャグとシリアスが完璧に融合し、個性豊かなキャラたちが織りなす熱くも笑える人情時代劇</p>
  <% when ["2", "2", "2", "1"] %>
    <h6>あの日見た花の名前を僕たちはまだ知らない</h6>
    <p>のどかな田舎の雰囲気と仲間たちの日常が、狂気と惨劇に塗り替えられる衝撃的なミステリーホラー</p>
  <% when ["2", "2", "2", "2"] %>
    <h6>School Days</h6>
    <p>一見普通の恋愛物語が、次第に衝撃的で予測不能な展開を迎え、心に残る強烈なインパクトを与える</p>
  <% end %>
</div>
