<div class="tokoyus">
  <div class="midashi">
    <h1>自分に合うアニメを探そう！</h1>
    <%= link_to "t", new_anime_path %>
  </div>
  <div class="senntakumatome">
    <div class="celect">
      <%= link_to '自分に合ったアニメ診断', :controller => "perfumes", :action => "index" %>
    </div>
    <div class="celect">
      <%= link_to '必見アニメ一覧', animes_path  %> 
    </div>
  </div>
</div>